@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    width: 475px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input.error{
    border-color: red;
}

.error-message{
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
    display: none;
}

textarea{
    width: 475px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    resize: vertical;
}

textarea.error{
    border-color: red;
}

button{
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 20%;
}

button:hover{
    background-color: #218838;
}

/* Remove as setas de aumentar/diminuir */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}